<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset = "utf-8">
  <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
  <meta name = "viewport" content = "width=device-width, initial-scale=1">
  <meta name = "description" content = "Market Street">
  <meta name = "author" content = "Hack Cooper Team">
  <link rel = "icon" href = "">

  <title> Market Street </title>

  <!--Bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>  
  <!--Site Style-->
  <link href = "stylesheets/style.css" rel = "stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:900" rel="stylesheet">

  <script  src="js/test.js"></script>
  <!--JS Scripts-->
  
  <script src = "js/bootstrap.min.js"></script>
  <script src = "js/index.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script>
    //--Geolocation to Back End--
    var x = document.getElementById("error");
    var saveLoc = function(position){
      console.log('Inside save loc');
      postData("http://localhost:3000/location",{lat:position.coords.latitude, long: position.coords.longitude})
      .then((data) => {
        console.log('From backend', data);
          window.location.href='/'+data.url;
      })
      .catch((err) => {
        console.log('Error', err);
      })
    }

    var getLoc = function(){
      console.log('Inside getloc');
      if(navigator.geolocation){
        navigator.geolocation.getCurrentPosition(saveLoc);
        console.log('Fetched location');
      } else{
        x.innerHTML = "Geolocation is not supported by your browser.";
      }
    }

    var postData = function(url,data){
      return fetch(url,{
        method:"POST",
        headers:{
          "Content-Type": "application/json; charset=utf-8",
        },
        body:JSON.stringify(data)
      })
      .then((data) => data.json())
    }

    
    
  
  </script>
</head>

<body>
 <div class="topnav">
    <a href="/">iDeal</a>
    <a id="settingsLink" href="user.html">SETTINGS</a>
    <a id="registerLink" href="/register">SIGN UP</a>
    <a id="addDealLink" href="/addDeal">BUSINESS</a>
  </div>
  
  <p id="error"></p>
  <br>
  <br>
  <br>
  <!--Button-->
  <div class="buttonBody">
  <div class="fancy-button">
    <div class="left-frills frills"></div>
    <div class="button" onclick="getLoc()">Find Deals!</div>
    <div class="right-frills frills"></div>
  </div>
  </div>
  <footer>
    
  </footer>
</body>


</html>